@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centerBox{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title{
        color: rgb(63, 63, 63);
        font-family: "Slackey", sans-serif;
    }
}

.container{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    
    &__user{
        // background-color: rgba(131, 131, 131, 0.336);
        display: flex;
        flex-direction: column;
        padding: 1rem 0 ;
        border-radius: 1rem;
    }
    
    &__front{
        display: flex;
        align-items: center;
        margin: 0 .5rem;
    }

    &__text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 1rem;
    }

    &__img{
        width: 100%;
        max-width: 25%;
        max-height: 6rem;
        border-radius: .5rem;
    }
    
    &__img--avatar{
        width: 100%;
        max-width: 25%;
        border-radius: 50%;
        outline: 2px solid rgb(0, 30, 48);
        outline-offset: .3rem; 
    }

    // Estilização Down

    &__down{
        margin: .5rem;
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }

    hr {
        display: block;
    }

    .is_open {
        display: flex;
        border-radius: 1rem;
        box-shadow: 0px 21px 13px -3px rgba(0,0,0,0.1);
    }

    &__item{
        display: flex;
        align-items: center;
    }

    &__desc{
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin: 0 1rem;
    }

    &__link{
        text-decoration: none;
        color: blue;
    }

}

